{
  "TOKEN": "OTMxNTEwMzU1MTM2NDk1NjU2.YeFenw.6WMyOFVkBVx35IsBcyufaZspdSM",
  "YOUTUBE_API_KEY": "_",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
